/* src/css/customButton.css */

.custom-button {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
  margin: 10px;
}

.custom-button:hover {
  background-color: #0056b3;
}

#citation {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  /* background-color: #f9f9f9; */
  /* max-width: 600px; */
  margin: 20px auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#citation h2 {
  margin-top: 0;
  color: #0056b3;
  font-size: 1.5rem;
  text-align: center;
}

#citation p {
  margin-bottom: 15px;
  font-size: 1rem;
  text-align: justify;
}

#citation blockquote {
  margin: 0;
  text-align: justify;
  padding: 15px 20px;
  border-left: 4px solid #0056b3;
  /* background-color: #fff; */
  font-style: italic;
  font-size: 0.8rem;
}

#citation blockquote a {
  color: #0056b3;
  text-decoration: none;
}

#citation blockquote a:hover {
  text-decoration: underline;
}

#citation blockquote footer {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #666;
  text-align: right;
}
